{% extends "layouts/base.html" %}

{% block stylesheets %}
{{ super() }}
{% endblock %}

{% block site_drawer %}{% endblock %}

{% block body %}
<main class="site-content container-fluid" id="content">
    <div class="row">
        <div class="col d-flex flex-column flex-md-row">
            <div id="dossiersPanel" class="col-sm-12 col-md-3 h-collapse collapse width">
                {% block user_dossiers %}
                {% include 'components/dossiers.html' %}
                {% endblock %}
            </div>
            <div class="col-sm-12 col-md">
                {% block user_workspace %}
                {% include 'components/workspace.html' %}
                {% endblock %}
            </div>
        </div>
        <aside id="messagesPanel" class="col-sm-12 col-md-5 h-collapse collapse width">
            {% block user_messages %}
            {% include 'components/messages.html' %}
            {% endblock %}
            <div class="d-flex flex-column">
                {% block content %}
                {{ page.content | safe }}
                {% endblock %}
            </div>
        </aside>
    </div>
    {% block site_alerts %}
    <div class="row">
        <div class="col-12">
            {% include 'components/alerts.html' %}
        </div>
    </div>
    {% endblock %}
</main>
{% endblock %}

{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='/lib/events.min.js') }}"></script>
<script src="{{ url_for('static', filename='/lib/messages.min.js') }}"></script>
<script src="{{ url_for('static', filename='/lib/dossiers.min.js') }}"></script>
<script src="{{ url_for('static', filename='/lib/painters.min.js') }}"></script>
{% endblock %}