{% extends "layouts/base.html" %}

{% block stylesheets %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container text-center justify-content-center">
        <div class="inner cover">
            <h1 class="cover-heading">Welcome on <strong>Board</strong>,</h1>
            <p class="lead">Start a collaborative work</p>
            <p></p>
            <p class="lead">
                <a href="/user/board" class="btn btn-lg btn-secondary">Start</a>
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {{ page.content | safe }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ super() }}
{% endblock %}