<div class="d-flex flex-column">
    <div class="card mb-2">
        <h5 class="card-header">New Dossier</h5>
        <div class="card-body">
            <form id="dossierForm" name="dossierForm" action="/api/v1.0/dossier" enctype="multipart/form-data">
                <input name="owner_id" id="owner_id" type="hidden" value="{{user.id}}" class="d-none">
                <input name="owner_name" id="owner_name" type="hidden" value="{{user.name}}" class="d-none">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" id="name" type="text" class="form-control" placeholder="Dossier name">
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="files" id="files" multiple="true">
                        <label class="custom-file-label" for="customFile">File</label>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-save"></span>&nbsp;Upload Dossier
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="card mb-2">
        <h5 class="card-header">Dossiers</h5>
        <div class="card-body">
            <ul id="dossiers" class="list-group dossiers">
            </ul>
        </div>
    </div>
</div>