<nav class="header navbar navbar-expand-md navbar-light bg-white shadow">
    <a class="navbar-brand" href="/">{{cms.site.brand.label}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop"
        aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTop">
        <ul class="navbar-nav mr-auto">
            {% for link in cms.menus["main"] %}
            <li class="nav-item">
                <a class="nav-link" href="{{link.path}}"><span class="{{link.icon}}"></span>&nbsp;{{link.text}}</a>
            </li>
            {% endfor %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% for link in cms.menus["util"] %}
            <li class="nav-item">
                <a class="nav-link" href="{{link.path}}"><span class="{{link.icon}}"></span>&nbsp;{{link.text}}</a>
            </li>
            {% endfor %}
            {% for link in cms.menus["auth"] %}
            <li class="nav-item">
                <a class="nav-link" href="{{link.path}}"><span class="{{link.icon}}"></span>&nbsp;{{link.text}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>